<md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
  <md-input-container required flex>
    <label>Github Username</label>
    <input required name="username" ng-model="userOne" placeholder="">
  </md-input-container>
  <md-button ng-click="toDo(userOne)">Search</md-button>
</md-content>
<md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
  <md-input-container required flex>
    <label>Github Username</label>
    <input required name="username" ng-model="userTwo" placeholder="">
  </md-input-container>
  <md-button ng-click="toDo(userTwo)">Search</md-button>
</md-content>