<!-- <div class="site-wrapper"> -->
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Git Insight</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover" id='home'>
        <h1 class="cover-heading">Git Insight</h1>
        <p class="lead">We can help recruiters and employers analyze someone's github profile</p>
        <p class="lead">
          <!-- <a href="#" class="btn btn-lg btn-default">Learn more</a> -->
          <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
            <md-input-container required flex>
              <label>Github Username</label>
              <input required name="username" ng-model="user.username" placeholder="">
            </md-input-container>
            <md-button ng-click="getUserRepo()">Search</md-button>
          </md-content>
      </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
