  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Git Insight</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#/compare">Compare</a></li>
              <li><a ng-click="login()" href="">Login with Git</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover" id='home'>
        <div>
          <h1 class="cover-heading">Git Insight</h1>
          <div ng-if="!loaded">
            <p class="lead">We can help recruiters and employers analyze someone's github profile</p>
            <p class="lead">
              <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
                <md-input-container required flex>
                  <label>Github Username</label>
                  <input required ng-keypress="($event.which === 13)?getAllWeeklyData():0" name="username" ng-model="currentUser.username" placeholder="">
                </md-input-container>
                <md-button ng-click="getAllWeeklyData()">Search</md-button>
              </md-content>
            </p>
          </div>
        </div>

        <div ng-if="loaded">
          <p class="lead">
            <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
              <md-input-container required flex>
                <label>Github Username</label>
                <input required ng-enter="getAllWeeklyData()" ng-keypress="($event.which === 13)?getAllWeeklyData():0" name="username" ng-model="currentUser.username" placeholder="">
              </md-input-container>
              <md-button ng-click="getAllWeeklyData()">Compare Users</md-button>
            </md-content>
          </p>
      </div>

      <div ng-if="loaded" id="chart" class="clearfix">
        <svg style="height:500px;">
        </svg>
      </div>

     <div ng-if="loaded" id="chart2" class="clearfix">
       <svg style="height:300px;">
       </svg>
     </div>

     <div ng-if="loaded3" id="chart3" class="clearfix">
       <svg style="height:300px;">
       </svg>
     </div> 

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>
    </div>
  </div>
